
@{
    ViewBag.Title = "Authentication";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Authentication</h2>
<p>An error occured with the authentication engine.</p>
<p>Please try again later and if you continue to receive this message contact our support centre.</p>

